.custom_bg {
    background-color: black !important;
    z-index: 2;
}
.navbar{
    min-height: 80px !important;
}
.nav{
    color: rgb(0, 0, 0);
    @media(min-width: 1200px){
        color: white;
        margin-left: -2vw;
    }
}
.navbar-brand{
    background-image: url('./assets/logo\ \(3\).svg');
    height: 34.53px;
    width: 120px;
    min-width: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 64px;
    @media(max-width: 1250px){
        margin-left: 40px;
    }
    @media(max-width: 630px){
        margin-left: 20px;
    }
}
.navbar-toggler{
    margin-right: 64px !important;
    @media(max-width: 630px){
        margin-right: 20px !important;
    }
}
.nav-elem{
    margin-right: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    cursor: pointer;
    @media(max-width: 1200px){
        font-weight: 500;
    }
}
.nav-basket{
    position: relative;
    margin-right: 36px;
    background-image: url('./assets/basket\ 1.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 34px;
    width: 38px;
    cursor: pointer;
    @media(min-width: 1300px){
        margin-right: 86px;
    }

    @media(max-width: 1199px){
        background-image: url('./assets/basket\ 1\ copy.svg');
    }
}
.nav-basket-badge{
    position: absolute;
    background: #FCB500;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -7px;
    right: -5px;
}
.offcanvas-body{
    padding: 20px;
}
.side_logo{
    position: absolute;
    top: 10px;
    left: 0px;
    background-image: url('./assets/logo\ \(3\)\ copy.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 200px;
    background-position: center;
}
.offcanvas-header{
    .navbar-brand {
        @media(max-width: 1200px){
            margin-left: 10px;
        }
    }
}
.offcanvas-body{
    @media(max-width: 1199px){
        padding-right: 0px;
        .nav-basket{
            position: absolute !important;
            bottom: 20px;
            right: 0px;
            height: 52px;
            width: 56px;
        }
        .nav-basket-badge{
            width: 25px;
            height: 25px;
            font-size: medium;
        }
        .nav{
            margin-top: 20px;
        }
        .nav-elem{
            width: 100%;
            transition: all linear 0.15s;
            &:hover{
                background: black;
                border-top-left-radius: 25px;
                border-end-start-radius: 25px;
                padding-left: 10px;
                color: #fcda28;
            }
        }
    }
}