.main{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.main_screen_1{
    height: calc(100vh - 80px);
    background-image: url('../assets/bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.screen_1_img{
    position: absolute;
    bottom: -110px;
    right: 0px;
    height: calc(100vh + 90px);
    width: 100vw;
    background-image: url('../assets/Mask\ Group.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
    z-index: 0;
    @media(max-width: 1000px) and (min-height: 900px){
        width: 80vw;
    }
    @media(max-height: 900px) and (max-width: 1000px){
        width: 70vw;
        right: -40px;
    }
    @media(max-width: 770px){
        right: -40px;
        height: 90vh;
        width: 90vw;
    }
    @media(max-width: 530px){
        bottom: -60px;
        right: -30px;
        width: 80vw;
    }
}
.screen_1_group{
    position: absolute;
    left: 5vw;
    top: 4vh;
    height: fit-content;
    width: 90vw;
    z-index: 2;
    overflow: hidden;
    @media(max-width: 770px){
        top: 5vh;
    }
}
.group_text_1{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 9vw;
    line-height: 10vw;
    display: flex;
    align-items: center;
    color: #FFFFFF;

    @media(max-height: 750px){
        font-size: 18vh;
        line-height: 19vh;
    }
    @media(max-width: 1000px){
        font-size: 11vw;
        line-height: 13vw;
    }
    @media(max-height: 500px){
        font-size: 8vh;
    }
}
.group_text_2{
    width: 43vw;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6vw;
    line-height: 2vw;
    display: flex;
    align-items: center;
    color: #000000;
    margin-top: 2vh;
    @media(max-width: 1000px) and (min-height: 900px){
        font-size: 3vh;
        line-height: 3.6vh;
        width: 50vw;
    }
    @media(max-height: 900px) and (max-width: 1000px){
        width: 50vw;
        font-size: 3.5vh;
        line-height: 3.6vh;
    }
    @media(max-height: 750px){
        font-size: 4vh;
        line-height: 5vh;
    }
    @media(max-width: 770px){
        margin-top: 6vw;
        font-size: 4vw;
        width: 80vw;
        line-height: 5vw;
    }
}
.group_text_3{
    margin-top: 6vh;

    .text_3_title{
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 700;
        font-size: 2.5vw;
        line-height: 4vw;
        display: flex;
        align-items: center;
        color: #000000;
        @media(max-width: 770px){
            font-size: 3vh;
        }
        @media(max-width: 1000px) and (min-height: 900px){
            font-size: 3vh;
            line-height: 3.6vh;
        }
        @media(max-height: 900px) and (max-width: 1000px){
            font-size: 3.5vh;
            line-height: 3.6vh;
        }
    }
    .text_3_text{
        width: 25vw;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 1.2vw;
        line-height: 1.4vw;
        display: flex;
        align-items: center;
        color: #000000;
        @media(max-width: 770px){
            margin-top: 4vh;
            font-size: 2.4vh;
            width: 50vw;
            line-height: 2.5vh;
        }
        @media(max-width: 1000px) and (min-height: 900px){
            font-size: 2.5vh;
            line-height: 3vh;
            margin-top: 2vh;
            width: 40vw;
        }
        @media(max-height: 900px) and (max-width: 1000px){
            font-size: 2.4vh;
            line-height: 3.2vh;
            margin-top: 3vh;
        }
    }
}

.main_screen_2{
    height: 100%;
    min-height: 100vh;
    width: 100%;
    background-color: #111111;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
}
.screen_2_text_top{
    font-size: 5.5vh;
    color: white;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: 6vh;
    span{
        color: orange;
    }
    @media(max-width: 770px){
        font-size: 3vh;
    }
}
.screen_2_block_price{
    color: white;
    display: flex;
    margin-top: 4vh;

    .price_discount{
        font-style: normal;
        font-weight: 400;
        font-size: 4vh;
        line-height: 4vh;
        display: flex;
        align-items: center;
    }
    .price{
        font-style: normal;
        font-weight: 400;
        font-size: 3vh;
        line-height: 3vh;
        display: flex;
        align-items: center;
        text-align: center;
        color: #ADADAD;
        margin-right: 5vw;
        margin-left: -2.5vw;
        text-decoration: line-through;
    }
}
.screen_2_block_card{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 4vh;
    @media(max-width: 770px){
        display: none;
    }
}
.block_card_left{
    width: 25vw;
    height: 33vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media(max-width: 770px){
        width: 100vw;
        margin-bottom: 2vh;
    }
    .block_card_img{
        background-image: url('../assets/ginger.svg');
        background-size: contain;
        background-repeat: no-repeat;
        height: 65%;
        width: 100%;
        background-position: center;
        @media(max-width: 770px){
            height: 75%;
        }
    }
    ._block_card_text{
        width: 100%;
        font-style: normal;
        font-weight: 400;
        font-size: 3.5vh;
        line-height: 3vh;
        text-align: center;
        color: #FFFFFF;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        span{
            font-size: 3vh;
            width: 100%;
            color: #FCB500;
        }
        @media(max-width: 1000px) and (min-height: 1000px){
            font-size: 2.5vh;   
            span{
                font-size: 2vh;
            }
        }
    }
}



.block_card_center{
    width: 33vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media(max-width: 770px){
        width: 100vw;
        margin-bottom: 4vh;
    }
    .block_card_img{
        background-image: url('../assets/nootris.svg');
        background-size: contain;
        background-repeat: no-repeat;
        height: 65%;
        width: 100%;
        background-position: center;
        @media(max-width: 770px){
            height: 50%;
        }
        @media(max-width: 770px){
            width: 80%;
        }
    }
    ._block_card_text{
        width: 100%;
        font-style: normal;
        font-weight: 400;
        font-size: 4.4vh;
        line-height: 4.4vh;
        text-align: center;
        color: #FFFFFF;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        span{
            margin-top: 1vh;
            font-size: 3vh;
            width: 100%;
            color: #FCB500;
        }
        @media(max-width: 1000px) and (min-height: 1000px){
            font-size: 2.5vh;   
            span{
                font-size: 2vh;
            }
        }
    }
    .block_card_btn{
        width: 34vh;
        height: 10vh;
        background: #FCB500;
        border-radius: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;
        cursor: pointer;
        font-style: normal;
        font-weight: 400;
        font-size: 2.8vh;
        line-height: 21px;
        color: black;
            }
}



.block_card_right{
    width: 25vw;
    height: 33vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media(max-width: 770px){
        width: 100vw;
        margin-bottom: 2vh;
    }
    .block_card_img{
        background-image: url('../assets/vorus.svg');
        background-size: contain;
        background-repeat: no-repeat;
        height: 65%;
        width: 100%;
        background-position: center;
        @media(max-width: 770px){
            height: 75%;
        }
    }
    ._block_card_text{
        width: 100%;
        font-style: normal;
        font-weight: 400;
        font-size: 3.5vh;
        line-height: 3.5vh;
        text-align: center;
        color: #FFFFFF;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        span{
            font-size: 3vh;
            width: 100%;
            color: #FCB500;
        }
        @media(max-width: 1000px) and (min-height: 1000px){
            font-size: 2.5vh;   
            span{
                font-size: 2vh;
            }
        }
    }
}


.screen_2_block_card_mobile{
    @media(min-width: 770px){
        display: none;
        width: 100vw;
    }
}
